div.cooked img:not(.emoji):not(.avatar):not(.thumbnail):not(.site-icon), div.mermaid svg{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 10px;
}

div#suggested-topics{
    padding: 100px 0 15px 0;
}

div#suggested-topics tbody a{
    font-size: 0.9em;
}

div.topic-last-activity, span.relative-date, div.timeline-ago, div.timeline-date-wrapper{
    visibility:hidden;
}

td.topics > div:nth-child(1), *.activity.num{
    display:none;
}

table.category-list td.topics a.badge-notification{
    font-size: 1em;
}
